<!--<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->

<h1>{{ title }}</h1>

<nav>
    <a routerLink="/" routerLinkActive="active">Home</a> |
    <a routerLink="/hero-dashboard" routerLinkActive="active">Dashboard</a> |
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>

<router-outlet></router-outlet>
